{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/logincss.css">
<section id="login" class="layers">
    <div class="layers__container">
        <div class="layers__item layer-1" style="background-image: url(static/back.jpg);"></div>
        <div class="centered-content">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 0vh;">
                <form action="" method="post" class="registration-form">
                    {{ form.hidden_tag() }}
                    <div class="text-center mb-4">
                        <h2>Забыл пароль</h2>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id }}">Электронная почта</label>
                        {{ form.email(class="form-control", type="email", id=form.email.id) }}
                    </div>
                    <div style="text-align: center">
                        {{ form.submit(type="submit", class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
