{% extends "base.html" %}

{% block content %}
	<section id="home" class="layers">
		<div class="layers__container">
			<div class="layers__item layer-1" style="background-image: url(static/back.jpg);"></div>
			<div class="layers__item layer-3">
				<div class="hero-content">
					<h1>Energy Oracle <span>Россети</span></h1>
					<div class="hero-content__p">Forecast of electric energy consumption</div>
					<button class="button-start">Начать использовать</button>
				</div>
			</div>
			<div class="layers__item layer-4">
				<canvas class="rain"></canvas>
			</div>
		</div>
	</section>
	<section id="about" class="about-section">

	</section>
	<section id="contact" class="contact-section">
		
	</section>
{% endblock %}
